<h1>Welcome to the Jungle!</h1> 

<h3>Here at the Jungle we strive to bring you, the discerning customer, a bespoke, curated list of only the most bedazzling flash-in-the-pan technologies, trinkets, and things that serve no practical use.</h3>
<br>
<h3>Just like our sister store, the <strong> <%= link_to "House of Tomorrow", "https://gta.fandom.com/wiki/The_House_of_Tomorrow" %></strong>, we offer a range of exciting products to help you upgrade and improve your life.</h3> 
<br>
<h3>Never mind the wholesale loss of small businesses, the lack of competition, and promotion of endless consumerism and throwaway mentality, just be content in the knowledge that the Jungle can help you with all your technology needs.</h3>
<br>
<h3> After all, if you can't have the latest and greatest gadgets delivered to your door within the hour, then what kind of life are you living?</h3>
<br>
<%= link_to "Continue shopping :)", root_path, class: 'btn btn-lg btn-primary' %>
